@media only screen and (max-width: 660px) {
    .container {
    }
    .header {
        padding: 33px 0 171px 0;
        .box {
            justify-content: space-between;
            align-items: center;
            padding: 20px 14px;
            border-bottom: #24ab70;
            box-shadow: 0px 4px 4px 0px #24ab70;
            width: 100%;
            .Logo {
                width: 138.0169px;
                height: 30px;
            }
            .icon {
                width: 24px;
                height: 24px;
            }
        }
        .box--button {
            .button {
                display: none;
            }
            .icon {
                display: block;
                width: 24px;
                height: 24px;
            }
        }
        .picture_hero {
            margin-top: 29px;
            height: 238px;
        }
        .box_infor {
            .content {
                color: #8794ba;
                span {
                    display: none;
                }
            }
        }
        .button {
            width: 100%;
            height: 50px;
        }
    }
    main {
        margin-top: -37px;
    }
    .section_2 {
        .container_box {
            .wrap {
                .picture {
                    max-width: 128px;
                }
            }
        }
    }
    .section_3 {
        .box_1 {
            .icon_1 {
                max-width: 152px;
                width: 95%;
                height: 112px;
                position: absolute;
                right: 21px;
                bottom: 78px;
            }
            .icon_2 {
                max-width: 204px;
                width: 95%;
                height: 251px;
                position: absolute;
                right: -33px;
                bottom: -26px;
            }
        }
        .box_2 {
            .wrap {
                width: calc((100% - 18px) / 2);
            }
        }
    }
    .section_4 {
        margin-top: -145px;
    }
}
